.container {
  min-height: 100%;
  width: 100%;
  background-color: rgba(33, 20, 220, 0.19);
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  justify-content: space-evenly;
  padding: 5px;
}
.card {
  width: 350px;
  border: 2px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  background-color: #fff;
  margin-top: 10px;
  padding: 5px;
  height: 500px;
}
.card img {
  height: 300px;
}
.card button {
  height: 40px;
  background-color: rgba(20, 220, 53, 0.62);
  color: #333;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-family: sans-serif;
  text-transform: capitalize;
  font-weight: bold;
  border: none;
  transition: 500ms color ease-in-out;
  transition: 300ms background ease-in;
}
.card h3 {
  font-size: 20px;
  font-family: sans-serif;
  text-transform: capitalize;
  color: #1b1b30;
  font-weight: 100;
}
.categoria {
  font-size: 20px;
  font-family: sans-serif;
  text-transform: capitalize;
  color: #1b1b30;
  font-weight: bold;
}
.card h4 {
  font-size: 25px;
  font-family: sans-serif;
  text-transform: capitalize;
  color: rgb(20, 220, 53);
  font-weight: 100;
}
.enlargedImage {
  width: 10px;
  height: 50px;
}
.card button:hover {
  background-color: #333;
  color: rgba(20, 220, 53, 0.62);
}
.card:hover {
  border: 5px solid rgba(33, 20, 220, 0.19);
  box-shadow: 1px 5px 5px #000;
}
@media screen and (max-width: 720px) {
  .container {
    margin-top: 100px;
  }
  .card {
    height: 400px;
  }
  .card img {
    height: 200px;
  }
}
