.show {
  background-color: #eee;
  height: 250px;
  position: fixed;
  width: 330px;
  z-index: 100;
  margin-top: 90px;
  right: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  border-top: 1px solid #1b1b35;
  border-bottom: 1px solid #1b1b35;
  box-shadow: 10px 1px 15px #000;
  overflow-y: scroll;
  overflow-x: hidden;
}
.hidden {
  display: none;
}
.add button {
  border: 1px solid #000;
  width: 290px;
  height: 30px;
  background-color: #1b1b35;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  text-transform: capitalize;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 5px;
}
.clean button {
  border: 1px solid #000;
  width: 290px;
  height: 30px;
  background-color: #eee;
  border-radius: 5px;
  cursor: pointer;
  color: #1b1b35;
  font-size: 20px;
  text-transform: capitalize;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 10px;
  margin-bottom: 5px;
}
.total {
  margin-top: 5px;
  font-weight: 100;
  text-transform: capitalize;
  color: #0f0;
  font-size: 20px;
}
@media screen and (max-width: 720px) {
  .show {
    opacity: 0.98;
    right: 0;
  }
}
